<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Selected Recipe</title>
</head>
<body>

	
	<div class="generic-container ng-cloak" ng-app="myApp"
		ng-controller="editSelectedRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Edit Selected Recipe</span>
			</div>

			Coffee: <span id="recipeCoffee" ng-bind="recipe.coffee"></span><br />
			Milk: <span id="recipeMilk" ng-bind="recipe.milk"></span><br />
			Sugar: <span id="recipeSugar" ng-bind="recipe.sugar"></span><br />
			Chocolate: <span id="recipeChocolate"
				ng-bind="recipe.chocolate"></span><br />
			Cinnamon: <span id="recipeCinnamon"
				ng-bind="recipe.cinnamon"></span><br />
					
			<div class="panel-heading">
				<span class="lead"><a href="addRecipeIngredient.html"> Add Ingredient </a> </span>
			</div>
			<div class="panel-heading">
				<span class="lead"><a href="removeRecipeIngredient.html"> Remove Ingredient </a> </span>
			</div>
					
		<div class="formcontainer">
			<form ng-submit="submit()" name="editSelectedRecipeForm"
					class="form-horizontal">
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter name" required="0" />
								<!--  <div class="has-error" ng-show="addIngredientForm.$dirty">
									<span ng-show="addIngredientForm.name.$error.required">This
										is a required field</span> <span
										ng-show="addIngredientForm.name.$invalid">This
										field is invalid </span>
								</div>
								-->
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.price" name="price"
									class="amount form-control input-sm"
									placeholder="Enter price of recipe" required="0" />
								<!--  <div class="has-error" ng-show="addIngredientForm.$dirty">
									<span ng-show="addIngredientForm.amount.$error.required">This
										is a required field</span> <span
										ng-show="addIngredientForm.amount.$error.min">Minimum
										amount is 0</span> <span ng-show="addIngredientForm.amount.$invalid">This
										field is invalid </span>
								</div>
								-->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="editSelectedRecipeForm.$invalid" />
							<button type="button" ng-click="reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="editSelectedRecipeForm.$pristine">Reset Form</button>
						</div>
					</div>
					
				</form>
			</div>
		
		</div>
		</div>
			<!-- <div ng-show="success">Ingredient Successfully Added</div>
			<div ng-show="failure">Error while adding ingredient.</div> -->
		</div>		
		<a href="index.html">Home</a>
	</div>


</body>
</html>