<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Remove an Ingredient From Recipe</title>
</head>
<body>


	<div class="generic-container ng-cloak" ng-app="myApp"
		ng-controller="removeRecipeIngredientCtrl as ctrl">
		<div class="panel panel-default">
			
			<div class="panel-heading">
				<span class="lead">Remove Recipe Ingredient </span>
			</div>

			<div class="formcontainer">
				<form ng-submit="submit()" name="removeRecipeIngredientForm"
					class="form-horizontal">

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Ingredient</label>
							<div class="col-md-7">
								<select name="ingredient" ng-model="ingredient.name"
									class="name form-control select-sm">
									<option value="coffee"> Coffee </option>
									<option value="milk"> Milk </option>
									<option value="sugar"> Sugar </option>
									<option value="chocolate"> Chocolate </option>
									<option value="cinnamon"> Cinnamon </option>
								</select>	 
								<!--  <div class="has-error" ng-show="addIngredientForm.$dirty">
									<span ng-show="addIngredientForm.name.$error.required">This
										is a required field</span> <span
										ng-show="addIngredientForm.name.$invalid">This
										field is invalid </span>
								</div>
								-->
							</div>
						</div>
					</div>

					
					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Remove Ingredient"
								class="btn btn-primary btn-sm"
								ng-disabled="removeRecipeIngredientForm.$invalid" />
						</div>
					</div>

				</form>
			</div>

		</div>
		</div>
			<!-- <div ng-show="success">Ingredient Successfully Added</div>
			<div ng-show="failure">Error while adding ingredient.</div> -->
		</div>		
		<a href="index.html">Home</a>
	</div>


</body>
</html> 